.profile__edit-button {
    min-width: 24px;
    min-height: 24px;
    background-color: black;
    border: 1px solid white;
    padding: 0;
    background-image: url(../../../images/profile/editing.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 38px;
    align-self: flex-start;
    margin-right: 235px;
}

@media screen and (max-width: 890px) {
    .profile__edit-button {
        position: absolute;
        min-width: 18px;
        min-height: 18px;
        top: 156px;
        right: 38px;
        margin: 0;
    }
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: 0.8;
}