.profile__edit-button {
    width: 24px;
    height: 24px;
    background-color: black;
    border: 1px solid white;
    padding: 0;
    background-image: url(../../../images/profile/editing.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 38px;
    align-self: flex-start;
    margin-right: 235px;
}

@media screen and (max-width: 890px) {
    .profile__edit-button {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 156px;
        right: 38px;
        margin: 0;
    }
}