.popup__error-message {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  opacity: 0;
  margin-top: 5px;
  margin-bottom: 13px;
}

.popup__error-message:first-of-type {
    margin-bottom: 13px;
}