.elements__like {
    min-width: 22px;
    height: 19px;
    background-image: url(../../../images/elements/like.svg);
    justify-self: end;
    border: 0;
    padding: 0;
    grid-area: elements__like;
    margin-top: 30px;
    margin-right: 20px;
}

.elements__like:hover {
    cursor: pointer;
    opacity: 0.5;
}