.popup__save-button {
    margin: 48px auto 0;
    background-color: black;
    width: 358px;
    min-height: 50px;
    border: none;
    border-radius: 2px;
    padding: 0;
    color: white;
    margin-bottom: 25px;
}

@media screen and (max-width: 890px) {
    .popup__save-button {
        width: 238px;
        min-height: 46px;
        margin-top: 45px;
    }
}

.popup__save-button:hover {
    cursor: pointer;
    opacity: 0.8;
}