.profile__info {
    display: flex;
    flex-direction: column;
    margin-right: 18px;
    overflow: hidden;
}

@media screen and (max-width: 890px) {
    .profile__info {
        margin: 26px auto 36px;
        max-width: 200px;
    }
}