.profile__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 18px;
    margin-top: 22px;
    margin-bottom: 25px;
}

@media screen and (max-width: 890px) {
    .profile__info {
        margin: 26px auto 26px;
        align-items: center;
    }
}