.elements__element {
    min-width: 282px;
    min-height: 362px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-areas: "elements__image ..." "elements__name elements__like";
}